// Place all the styles related to the result_matrices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #000000;
  border-bottom: 2px solid #000000 !important;
}

th {
  border: 2px solid #000000;
  text-align: left;
  padding: 8px;
}

td{
  text-align: left;
  padding: 8px;
  border-left: 1px solid #737272;
  border-right: 1px solid #737272;
  border-width: thin;
}

th {
  background-color: #dddddd;
}


.organic{
  background-color: #E0FFCE;
}

.ucas{
  background-color: #FFC7C7;
}
.facebook{
  background-color: #BAD8FF;
}

.moneymagpie{
  background-color: #FCFFBA;
}

.savethestudent{
  background-color: #BAFFF8;
}

.border{
  border-right: 2px solid #000000;
  background-color: #FAE1FF;
}
.borders{
  border-right: 2px solid #000000;
}

.stick{
  position: sticky;
}

.male{
  background-color: #FFFCD6;

}

.female{
  background-color: #FFF4D8;
}

.other{
  background-color: #FFE5D8;
  border-right: 2px solid #000000;

}
